<h3>会場一覧</h3>
<%= page_entries_info @locations %>
<%= react_component "LocationIndex", {
  locations: @locations.map{ |location|
    location.serializable_hash.merge(
      link: editor_location_path(location),
    )
  },
} %>
<nav class="text-center">
  <%= paginate @locations %>
</nav>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: new_editor_location_path,
      text: "新規登録",
    },
  ],
} %>
