<h3>会場詳細</h3>
<%= react_component "LocationDescription", @location.serializable_hash.merge(
  created_at: @location.created_at.strftime('%Y-%m-%d %H:%M:%S'),
  updated_at: @location.updated_at.strftime('%Y-%m-%d %H:%M:%S'),
) %>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: editor_locations_path,
      text: "一覧へ戻る",
    },
    {
      href: edit_editor_location_path(@location),
      text: "編集",
      classes: ["btn", "btn-info"],
    },
    {
      href: editor_location_path(@location),
      text: "削除",
      method: "delete",
      confirm: "削除しますか？",
      classes: ["btn", "btn-danger"],
    },
  ],
} %>
