<h3>検索</h3>
<%= react_component "SearchForm", { params: params.permit(:mindate), idols: @idols || [] }, { prerender: true } %>

<p><%= page_entries_info @genbas %></p>
<%= react_component "GenbaList", {
  genbas: @genbas.map{ |genba| genba.attributes_for_list },
}, {
  prerender: true,
} %>
<nav class="text-center">
  <%= link_to_next_page @genbas, "もっと見る", params: params %>
</nav>
