<h3>管理画面トップ</h3>

<ul>
  <li><%= link_to "現場情報管理", editor_sources_path %></li>
  <li><%= link_to "現場管理", editor_genbas_path %></li>
  <li><%= link_to "アイドル管理", editor_idols_path %></li>
  <li><%= link_to "会場管理", editor_locations_path %></li>
</ul>
