<h3>現場情報</h3>
<%= react_component "SourceSearchPanel", { params: params.permit(:date) } %>
<%= page_entries_info @sources %>
<%= react_component "SourceIndexTable", {
  sources: @sources.map{ |source|
    source.serializable_hash.merge(
      start_at: source.start_at.strftime('%Y-%m-%d %H:%M'),
      link: editor_source_path(source),
    )
  },
} %>
<nav class="text-center">
  <%= paginate @sources %>
</nav>
