<h3>パスワードを忘れた場合</h3>
<%= react_component "PasswordNewForm", {
  action: password_path(resource_name),
  method: :post,
  token: form_authenticity_token,
} %>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: new_session_path(resource_name),
      text: "ログイン",
    },
  ],
} %>
