<h3>現場情報編集</h3>
<%= react_component "GenbaForm", {
  genba: @genba.serializable_hash.merge(
    idols: @genba.idols,
    location: @genba.location,
  ),
  action: editor_genba_path(@genba),
  method: :patch,
  token: form_authenticity_token,
  errors: @genba.errors.to_hash(true),
  submit: "更新",
} %>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: editor_genba_path(@genba),
      text: "詳細",
    },
    {
      href: editor_genbas_path,
      text: "一覧へ戻る",
    },
  ],
} %>
