<h3>現場一覧</h3>
<%= page_entries_info @genbas %>
<%= react_component "GenbaIndexTable", {
  genbas: @genbas.map{ |genba|
    genba.serializable_hash.merge(
      start_at: genba.start_at.strftime('%Y-%m-%d %H:%M'),
      link: editor_genba_path(genba),
      location: genba.location,
    )
  },
} %>
<nav class="text-center">
  <%= paginate @genbas %>
</nav>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: new_editor_genba_path,
      text: "新規登録",
    },
  ],
} %>
