<h3>現場新規登録</h3>
<%= react_component "GenbaForm", {
  genba: @genba.serializable_hash.merge(
    start_at: @genba.start_at.strftime('%Y-%m-%dT%H:%M'),
    idols: @genba.idols,
    location: @genba.location,
  ),
  action: editor_genbas_path,
  method: :post,
  token: form_authenticity_token,
  errors: @genba.errors.to_hash(true)
} %>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: editor_genbas_path,
      text: "一覧へ戻る",
    },
  ],
} %>
