<h3>現場詳細</h3>
<%= react_component "GenbaDescription", @genba.serializable_hash.merge(
  created_at: @genba.created_at.strftime('%Y-%m-%d %H:%M:%S'),
  updated_at: @genba.updated_at.strftime('%Y-%m-%d %H:%M:%S'),
  start_at: @genba.start_at.strftime('%Y-%m-%d %H:%M'),
  idols: @genba.idols,
  location: @genba.location,
) %>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: edit_editor_genba_path(@genba),
      text: "編集",
    },
    {
      href: editor_genbas_path,
      text: "一覧へ戻る",
    },
  ],
} %>
