<h3>登録アイドル一覧</h3>
<%= page_entries_info @idols %>
<%= react_component "IdolIndexTable", {
  idols: @idols.map{ |idol|
    idol.serializable_hash.merge(links: {
      show: editor_idol_path(idol),
      edit: edit_editor_idol_path(idol),
      delete: editor_idol_path(idol),
    })
  },
} %>
<nav class="text-center">
  <%= paginate @idols %>
</nav>
<hr>
<%= react_component "Links", {
  links: [
    {
      href: new_editor_idol_path,
      text: "新規登録",
    },
  ],
} %>
